        .background {
            background-color: #EE240E;
            height: 100vh;
            width: 100vw;
            opacity: 90%;
        }
        
        .card {
            position: absolute;
            left: 50%;
            top: 30%;
            width: 450px;
            height: 450px;
        }
        
        .form {
            text-align: center;
            padding-top: 30%;
        }
        
        .textfield {
            width: 270px;
        }
        
        .bottom-margin {
            margin-bottom: 12px;
        }